h1 {
  text-align: center;
  background: gray;
  visibility: visible;
}

h1:hover {
  text-align: center;
  background: gray;
  visibility: hidden;
}

.basics1 {
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(22,108,179,1);

}

.basics2 {
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;
}

.brand-style {
  color: rgba(39,250,189,1);
}

.brand-style:hover {
  color:  rgba(39,250,189,.7);
  text-decoration: none;
}

.content-area {
  height:800px;
  border-radius:0px 0px 20px 5px;
}

.aside-area {
  height: 800px;
  border-radius: 0px 0px 5px 20px;
}


.footer {
  background-color:rgba(75,85,56,.85);
  text-align: center;
  height: 12vh;
  width: 100%;
}

.footer-hr {
    border-color: rgba(36,38,33,1);
    border-style: solid;
    border-width: 5%;
}
